<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
				<key>dateExpires</key>
				<string>5/21/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>5.10.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>7.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorDevice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorKakaoLoginPlugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorPluginSafeArea.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorPushNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorSplashScreen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>7.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>11.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>11.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>11.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>11.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>2.18.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>2.18.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>2.18.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKStory.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>2.18.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKTalk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>2.18.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKTemplate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>2.18.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KakaoSDKUser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>2.18.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4FC8670ED73071991C597E5AD7164795217AF068</string>
						<key>dateExpires</key>
						<string>5/21/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6UY4DK39TU</string>
						<key>name</key>
						<string>Korea Federation of Crane Council</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6UY4DK39TU.kr.co.stopcall.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6UY4DK39TU</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6e16c169-2347-4786-b8ce-f3b193edfc06</string>
				<key>dateExpires</key>
				<string>5/21/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: kr.co.stopcall.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6UY4DK39TU</string>
				<key>name</key>
				<string>Korea Federation of Crane Council</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
